body{
  width: 480px;
  margin: 0 auto;

  border: 1px solid #000;
}

#header{
  width: 480px;

  height: 50px;
  background: #faa;
}

#wrapper{
  float: left;

  padding-top: 5px;
  background: #666;
}

#main{
  width: 270px;
  float: right;

  margin-right: 5px;
  margin-left: 5px;
  height: 100px;
  background: #afa;
}

#side01{
  width: 100px;
  float: left;

  margin-bottom: 5px;
  height: 100px;
  background: #aaf;
}

#side02{
  width: 100px;
  float: right;

  margin-top: 5px;
  margin-bottom: 5px;
  height: 100px;
  background: #aff;
}

footer{
  clear: both;
  width: 480px;

  height: 50px;
  background: #ffa;
}
